<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tailwindcss</title>
    <link rel="stylesheet" href="/build/styles.css">
</head>
<body>
    <div class="container mx-2 my-2 shadow-md p-4 bg-rose-500 rounded-md bg-slate-50 text-center">
        <h1 class="text-white text-2xl font-medium m-0">Hello Tailwindcss</h1>
        <p class="text-white italic text-xs">with node</p>
    </div>
</body>
</html>